body{
    background-image: cross-fade()
}

p{
    margin:350;
    background-color: lightblue;
}
div {
    padding: 50px;
}
article { 
    display: block;
}
.rotateimg180 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }